[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:iturdikulov/nvim.git
[submodule ".local/share/OpenSCAD/libraries/Round-Anything"]
	path = .local/share/OpenSCAD/libraries/Round-Anything
	url = https://github.com/Irev-Dev/Round-Anything.git
